@font-face{
  font-family: manrope;
  src: url(../font/Manrope-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: manrope;
}

.header{
  height: 10vh;
}

.navbar {
  padding: 0 2rem;
  background-color: blueviolet;
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}


.logo {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}


.nav-links {
  display: flex;
  transition: 0.3s ease all;
}

li {
  list-style: none;
  padding: 10px;
}

li a{
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  margin: 0 1.2rem;
  position: relative;
}

.about-me {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.about-me-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font-size: 1.3rem;
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 8px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 2rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  min-height: 100vh;
}
.container {
  margin: 20px;
  display: flex;
}

.image {
  max-width: 100%;
  display: block;
  height: auto;
}

.card{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card h2 {
  padding-bottom: 40px;
}


.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3); 
  height: 4rem;
  width: 100%;
}

@media screen and (max-width : 650px){
  .container {
    display: flex;
    flex-direction: column;
  }

  .about-me-container {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .text-container {
    padding: 50px;
  }

  .card {
    width: 100%;
    height: auto;
  }

}