@font-face {
    font-family: gordita;
    src: url(/font/Gordita\ Regular.woff);
}

@font-face {
    font-family: gordita-bold;
    src: url(/font/Gordita\ Bold.woff);
}


/* variables */

:root {
    --font-color: #a9a9b3;
    --dark-gray-bg: #252627;
    --light-gray-bg: #292a2d;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: gordita;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/*  dark gray #252627
    light gray #292a2d
    font #a9a9b3
*/


/* navbar section */

.navbar-container {
    background-color: var(--dark-gray-bg);
    height: 10vh;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    transition: 0.3s ease all;
}

li>a {
    padding: 0 1.2rem;
    position: relative;
    color: white;
    text-decoration: none;
}

li>a::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
}

li>a:hover::after {
    width: 100%;
    transition: 0.3s ease all;
}

.nav-links.nav-active {
    transform: translateX(0%);
}

.hamburger-menu {
    cursor: pointer;
    display: none;
}

.hamburger-menu>div {
    width: 24px;
    height: 4px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    transition: 0.3s ease all;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.fa-instagram, .fa-linkedin, .fa-github, .fa-twitter{
    background: var(--light-gray-bg);
    color: white;
}

/* about me section */

.about-me {
    background-color: #292a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: auto;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container {
    text-align: center;
}

.text-name {
    color: var(--font-color);
    font-size: 2.5rem;
    font-family: gordita-bold;
}

.text-about {
    color: var(--font-color);
    font-size: 1.1rem;
}

.profile-img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
}


@media screen and (max-width: 725px) {
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 225px;
        background-color: #252627;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(-100%);
    }
    .hamburger-menu {
        display: block;
    }
    .bar-change .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .bar-change .bar2 {
        opacity: 0;
    }
    .bar-change .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .card {
        width: 320px;
    }
}