@font-face{
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
}

@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

/* CSS Variables */

:root{
    --primary-color: #9578F8;
    --primary-color2: #F66A97;
    --text-color: #ECECEC;
    --title-color: #000000;
    --gradient-color: linear-gradient(180deg,#F66A97 0%,#9578F8 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    --manrope: 'Manrope',sans-serif;
    --montserrat: 'Montserrat',sans-serif;
}

.header-area .aside-area
{
    background: var(--gradient-color);
}
.header-area .aside-area .nav-item .nav-link
{
   text-transform: capitalize;
   font: normal 500 15px/2px var(--montserrat);
}

.header-area .main-area h1{
    margin-top: 2%;
    font-size: 3rem;
    font-family: var(--montserrat);
} 

.header-area .main-area h4{
    font-size: 1rem;
    font-family: var(--montserrat);
}